:root {
    --men-color: #acb5e6;
    --women-color: rgb(224, 193, 212);
    --uni-color: #90e185;
    --light-gray: #f7f3f3;
    --very-small: 0.9rem;
    --header-section: 2rem;
    --header-section-small: 1.6rem;
    --extra-small: 0.8rem;
    --icons: 1.3rem;
    --border: #e5e7eb;
    --medium: 1.2rem;
}
.total_stock {
    font-size: 2rem;
    font-weight: 700;
    display: block;
    margin: 16px 0;
}
td {
    max-width: 100px;

}
.table-female {
    background-color: rgb(237, 227, 233);
}
.table-male {
    background-color:  #dbdef0;

}
.table-uni {
    background-color: #dff4db;
}
html {
    background-color: white;
}
.alert_header {
    font-weight: 800;
    font-size: 2rem;
}
.product_stock_img {
    width: 100px;
    height: 100px;
}
.edit_tickets_img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.alert-box-user-deletion {
    border: 2px solid black;
    background-color:rgb(255, 255, 255) !important;
}
.alert-box-user-deletion {
    display: none;
}
.text_area_admin {
    resize: none !important;
}
.admin_msg {
    margin-right: 20px;
    position: relative;
}
.side-nav {
    overflow-y: scroll;
    padding: 0 0 80px 0;
}
.new_message {
    background-color: rgb(116, 235, 116);
}
.page-header {
    text-decoration: none;
    color: black;
}
.button-admin:hover {
    background-color:  rgb(0, 0, 0);
    color: white;
}
.button-admin {
    margin: 12px 12px 12px 0;
    border-radius: 4px;
    width: 140px;
    height: 40px;
    background-color:  rgb(0, 0, 0);
    color: white;
    border: none;
}
.messages-panel {
    background-color: rgb(73, 27, 11) !important;
}
.comments-panel {
    background-color: rgb(78, 72, 131) !important;
}
.tickets-panel {
    background-color: rgb(106, 151, 17) !important;
}
.staff-panel {
    background-color: rgb(151, 17, 106) !important;
}
.message_num_admin {
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: white;
    font-size: 2rem;
    z-index: 99;
    left: 70%;
    top: 40%;
    color: red;
    position: absolute;
}
textarea {
    resize: none  !important;
}
.charts_google {
    background-color: white;
}

#wrapper {
    background-color: white;
}
.modal-booking-container h5{
    font-weight: 800;
}


.forum-panel {
    background-color: rgb(24, 151, 140) !important;
}
.movies-panel {
    background-color: blueviolet !important;
}
.reviews-panel {
    background-color: chocolate !important;
}
.faq-panel {
    background-color: rgb(30, 77, 109) !important;
}
.table_img {
    width: 100%;
    height: 100px;
    object-fit: cover;
}
.genres-options-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.edit-icon img {
   margin-left: 15px;
    width: 50px;
    height: 50px;
}
.cross_modal_admin {
    position: absolute;
    top: 10px;
    right: 10px;
    filter:invert(100%) sepia(100%) saturate(2%) hue-rotate(148deg) brightness(106%) contrast(101%);
    cursor: pointer;
    width: 50px;
    height: 50px;
}
.buttons-container {
    display: flex;
    flex-direction: row;
}

.confirmationWindowModal {
    overflow-y: scroll;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 99999999;
    width: 50%;
    height: 50%;
    position: fixed;
    color: white;
    background-color: rgb(68, 67, 67)
}
.buttons-ok-cancel {
    display: flex;
    flex-direction: row;
}
.delete_button {
    cursor: pointer;
}
.buttons-ok-cancel * {
    width: 100px;
    color: black;
}
.confirmationWindowModal .buttons-message-container {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}
@media (max-width: 609px) {
    .confirmationWindowModal {
        width: 100%;
        height: 100%;
    }
}
